.right{
    position: relative;
width: 100%;
height: 100vh;
}
.right h1{
    position: absolute;
    top: 210px;
    left: 300px;
}
.right p{
    position: absolute;
    top: 270px;
left: 300px;
}
.right .btn{
position: absolute;
top: 370px;
left: 400px;
background-color: blue;
color: white;
}


/*----------media mobiel---------------*/

@media(max-width:600px){
.right{
    width: 100%;
    height: 100vh;
    position: relative;
}
.right h1{
position: absolute;
left: 30px;
font-size: 20px;
}
.right p{
    position: absolute;
    left: 25px;
}
.right .btn {
    position: absolute;
    left: 55px;
top: 520px;
}
}

    
/*-----------------------
@media(max-width:600px){
    iframe {
        width: 300px;
    }
    .r1{
   display: none;
    }

}
*/
li{
    list-style: none;
    font-size: 20px;
}











.id1{
    margin-top: 100px;
    position: relative;
width: 100%;
height: 100%;
display: flex;
    

}


/*--------------------media for mobile sm-----------------*/

@media(max-width:320px){
    .id1{
        position: relative;
width: 100%;
height: 50vh;    
 
}
.id2 .hhh{
        position: absolute;
        left: 10px;
    }
    .id2  .hh{
        position: absolute;
        left: 120px;
    }
    .id2  .h{
        position: absolute;
        left: 100px;
    }
    .id2  #i1{
    position: absolute;
    left: 25px;

}
.id2  #i2{
    position: absolute;
    left: 125px;
 }
 .id2  #i3{
    position: absolute;
    left: 220px;
}
.ifr{
    width: 290px;

}


    
}

/*------------media for mobile lg------------------------------*/
@media(max-width:425px){

    .id1{
        position: relative;
        width: 100%;
        height: 50vh;            
    }


    .id2 .hhh{
        position: absolute;
        left: 35px;
    }
    .id2  .hh{
        position: absolute;
        left: 140px;
    }
    .id2  .h{
        position: absolute;
        left: 250px;
    }
    .id2  #i1{
    position: absolute;
    left: 35px;

}
.id2  #i2{
    position: absolute;
    left: 140px;
}
.id2  #i3{
    position: absolute;
    left: 250px;
}


    
}



.id2{
    width: 100%;
    height: 50vh;
    margin-left: 150px;
    display: flex;
   
}
.hhh{
    position: absolute;
   left: 800px;
   bottom: 100px;
}
.hh{
    position: absolute;
    left: 650px;
    bottom: 100px;
}
.h{
    position: absolute;
    left: 480px;
    bottom: 100px;
}


#i1{

    position: absolute;
    bottom:200px;
    left: 480px;
    font-size: large;
}
#i2{
    position: absolute;
    bottom: 200px;
    left: 650px;
}
#i3{
    position: absolute;
    bottom: 200px;
    left: 800px;
}













@media(max-width:320px){

.card{
margin-top: 50px;
}
#ll{
    margin-top: 200px;
}
#lll{
    margin-top: 20px;
}
}

@media(min-width:375px){

.card{
margin-top: 50px;
}
#ll{
    margin-top: 200px;
}
#lll{
    margin-top: 20px;
}
.ifr{
    width: 350px;

}
}


@media(min-width:425px){
    .ifr{
width: 350px;
    }
}

    
@media(min-width:768px){
    .ifr{
width: 1320px;
    }
}





